@model  CF.DTO.Permission.EmployeeDTO

<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.ImageUrl)
<div class="row">
    <div class="col-lg-4">
        <div class="form-group center">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img id="upload-preview" src="@Model.ImageUrl" height="100" width="100" class="" style="border-radius:100% !important" />
            }
            else
            {
                <img id="upload-preview" class="" src="@Url.Content("~/Areas/Admin/images/product_1/product_default.jpg")" height="100" width="100" style="border-radius:100% !important" />
            }
        </div>

        <div class="form-group center" style="line-height:55px;">
            <div class="upload-btn-wrapper" style="cursor:pointer;">
                <button class="btn btn-default" type="button" onclick="showPictureUpload();" style="margin-top:-6%;">Chọn hình</button>
                <input type="file" name="myFile" id="urlImage" class="hidden" onchange="PreviewImage(this,'upload-preview')" accept="*.jpg" />
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="form-group">
            <label>Tên nhân viên:</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Tên", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger", })
        </div>

        <div class="form-group">
            <label>Phân Quyền </label>
            <div>
                @Html.DropDownListFor(model => model.RoleID,
                    new SelectList(ViewBag.Role, "Value", "Text", Model.RoleID), "Vui lòng chọn phân quyền",
                    new
                    {
                        @class = "form-control select2_multiple",
                        @id = "RoleDdl",
                        @style = "width:100%;"
                    })
                @Html.ValidationMessageFor(model => model.RoleID, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Email </label>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "example@email.com", @autocomplete = "off" })
        </div>

        <div class="form-group">
            <label>Số điện thoại </label>
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "090...", @autocomplete = "off" })
        </div>

        <div class="form-group">
            <label>Địa chỉ</label>
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Số 1, Hàm Nghi, Q.1, TP.Hồ Chí Minh", @autocomplete = "off" })
        </div>

        <div class="form-group">
            <label class="">Trạng thái</label>
            <label class="">&nbsp; &nbsp; @Html.CheckBoxFor(model => model.IsActive, new { @class = "icheck" })</label>
        </div>
    </div>
</div>

@*<script src="@Url.Content( "~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content( "~/Scripts/jquery.validate.unobtrusive.min.js")"></script>*@

<script>
    $(document).ready(function () {
        init_ICheck()
    });

    function showPictureUpload() {
        $('[id=urlImage]').click();
    }

    function SubmitForm(action) {

        /* create request  */
        var pictureUpload = $('#urlImage');

        var formData = new FormData();
        formData.append("ID", $('#ID').val());
        formData.append("ImageUrl", $('#ImageUrl').val());
        formData.append("Name", $('#Name').val());
        formData.append("RoleID", $('#RoleDdl').val());
        formData.append("Email", $('#Email').val());
        formData.append("Phone", $('#Phone').val());
        formData.append("Address", $('#Address').val());
        formData.append("IsActive", $('#IsActive').val());
        if (pictureUpload[0].files.length > 0) {
            formData.append("UploadedImage", pictureUpload[0].files[0]);
        }

        /* call ajax */
        $.ajax({
            url: '/Admin/CFEmployee/CreateOrUpdate',
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            dataType: 'html',
            success: function (data) {
                $('#modalDetail').modal('hide');
                LoadGrid();
            },
            error: function (xhr, httpStatusMessage, customErrorMessage) {
                if (xhr.status === 400) {
                    $("#form-detail").html(xhr.responseText);
                }
                else {
                    alert(xhr.statusText);
                }

            }
        })
    }

</script>
