@model CF.DTO.Inventory.CategoryDTO


@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.ImageUrl)
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Picture</label>
            <div class="col-md-2 col-sm-2 col-xs-12">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img id="upload-preview" src="@Model.ImageUrl" height="100" width="100" class="" style="border-radius:100% !important" />
                }
                else
                {
                    <img id="upload-preview" class="" src="" height="100" width="100" style="border-radius:100% !important" />
                }
            </div>
            <div class="col-md-1 col-sm-3 col-xs-12" style="line-height:55px;">
                <div class="upload-btn-wrapper" style="cursor:pointer;">
                    <button class="btn btn-default" type="button" onclick="showPictureUpload();" style="margin-top:-6%;">Chọn hình</button>
                    @Html.TextBoxFor(model => model.PictureUpload, new { @type = "file", @onchange = "PreviewImage(this,\"upload-preview\")", @accept = "*.jpg", @class = "hidden", @id = "urlImage" })
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="form-group">
            <label>Tên category:</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Tên", @autocomplete = "off" })
        </div>

        <div class="form-group">
            <label>Mô tả </label>
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control currency", @placeholder = "Mô tả", @autocomplete = "off" })
        </div>

    </div>
</div>


<script src="@Url.Content("~/Areas/Admin/js/lib/bootstrap/js/bootstrap.min.js")"></script>

<script>
    function showPictureUpload() {
        $('[id=urlImage]').click();
    }

    function SubmitForm(action) {
        var name = $('#Name').val();
        var description = $('#Description').val();
        var ID = $('#ID').val();
        var ImageUrl = $('#ImageUrl').val();;

        debugger;
        /* get image data */
        var pictureUpload = $('#urlImage');
        var oFReader = new FileReader();
        var ImageData = "";
        if (pictureUpload[0].files.length > 0) {
            oFReader.readAsDataURL(pictureUpload[0].files[0]);
            ImageData = oFReader.result;
        }

        /* create request  */
        var request = {
            Name: name,
            Description: description,
            ImageData: ImageData,
            ID: ID,
            ImageUrl: ImageUrl,
        };

        /* call ajax */
        $.ajax({
            url: '/Admin/CFCategory/Create',
            type: "post",
            traditional: true,
            data: JSON.stringify(request),
            contentType: "application/json; charset=utf-8",
            processData: false,
            success: function () {
                $('#modalDetail').modal('hide');
                LoadGrid();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".detail-view").html(jqXHR.responseText);
            }
        });
    }
</script>